#perspectiveListContainer table th.fileTitle {
    white-space: nowrap;
}

#perspectiveListContainer table th.byExtension {
    padding-left: 4px !important;
}

#perspectiveListContainer table {
    background-color: white;
}

#perspectiveListContainer .activeRow {
    background: rgba(29, 209, 159, 0.52) !important;
}

#perspectiveListContainer table tr.ui-selected {
    color: white;
    background: #1DD19F !important; /* 00b4ff #7BD8FF */
}

#perspectiveListContainer thead th {
    border-bottom: 1px solid lightgray;
}

#perspectiveListContainer tfoot th {
    border-top: 1px solid lightgray;
}

#perspectiveListContainer tbody td {
    border-bottom: 1px solid lightgray;
}

/*#perspectiveListContainer thead, tbody { display: block; }

#perspectiveListContainer tbody {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}*/

#perspectiveListContainer .fileTitle {
    font-size: 13px;
    padding-left: 0 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 3px !important;
    vertical-align: middle !important;
}

#perspectiveListContainer .fileTitleWidth {
    min-width: 110px;
}

#perspectiveListContainer .extTagButton {
    padding: 2px 4px 2px 4px;
    background: #bbb !important;
    color: white !important;
    margin: 1px;
    border: 0;
    border-radius: 5px !important;
    text-decoration: none;
}

#perspectiveListContainer .fileButton {
    padding: 1px 12px 1px 1px;
    background-color: #E5E5E5;
    font-weight: normal;
    color: #222222;
    text-align: left;
    margin: 1px;
    border: #ddd solid 1px;
    z-index: 9999;
}

#perspectiveListContainer .fileExt {
    background-color: inherit;
    color: inherit;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px;
}

#perspectiveListContainer .fileTitleButton {
    margin: 1px;
    padding: 1px;
    margin-left: 5px;
    color: white;
    background-color: gray;
    border-radius: 3px;
    opacity: 0.8 !important;
}

#perspectiveListContainer .folderButton {
    width: 40px;
    color: white !important;
    background-color: tranparent;
}

#perspectiveListContainer .fileTitleButton:hover, #perspectiveListContainer .fileTitleButton:active, #perspectiveListContainer .fileTitleButton:focus  {
    background-color: #515151;
    color: white;
    border-radius: 3px;
    opacity: 1 !important;
}

#perspectiveListContainer .fileSelection {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 5px;
}

#perspectiveListContainer .fileSelection i {
    padding-right: 0;
    padding-left: 0;
}

#perspectiveListContainer #aboutExtensionModal .modal-body {
    max-height: 500px;
    overflow: auto;
}

#perspectiveListContainer .fileTitleWidth {
    min-width: 115px !important;
}

#perspectiveListContainer .dropDownIcon {
    padding-left:5px;
}